{{> navigation }}
<main>
    <div class="container">
        <h1>Welcome</h1>
        <section>
            <h2>What is Metrodocu?</h2>
            <p>Metrodocu is a new place for students and professional people to share documents and talk with each other.</p>
            <h2>Most liked stories</h2>
            <div class="story-container">
                <!-- Dynamic content -->
            </div>
        </section>
    </div>
</main>
<script src="/js/home.js"></script>

{{> footer }}
{{> loginModal}}