{{> navigation }}
<main>
    <div class="container">
        <h1>Welcome</h1>
        <section class="main">
            <h2>What is MetroDocu?</h2>
            <p class="medium">MetroDocu is a new platform for students and professional people to share their work and thoughts with a little effort.</p>
            <h2>What are stories?</h2>
            <p class="medium">You can create "stories" which may contain documents and images. Other users, such as teachers, can view, like and comment your stories depending on the visibility of the story.</p>
            <h2>Which file formats MetroDocu supports?</h2>
            <p class="medium">Currently images and PDFs. There will be more supported file formats in the future.</p>
            <h2>Most liked stories</h2>
            <div class="story-container">
                <!-- Dynamic content -->
            </div>
            <div class="button-container">
                {{#if loggedIn}}
                    <div class="dropdown-container">
                        <!-- Dynamic content -->
                    </div>
                    <button class="primary" onclick="clickCreateStory()">Create story</button>
                {{/if}}
            </div>
        </section>
    </div>
</main>
<script src="/js/home.js"></script>

{{> footer }}
{{> loginModal}}