{{> navigation}}
<main>
    <div class="container">
        <h1>Statistics</h1>
        <section>
            <div class="statistics">
                <div class="user-statistics">
                    <div class="statistics-container">
                        <h2>Top likers</h2>
                        <table class="top-likers">
                            <tr>
                                <th>User</th>
                                <th>Likes</th>
                            </tr>
                        </table>
                    </div>

                    <div class="statistics-container">
                        <h2>Top commenters</h2>
                        <table class="top-commenters">
                            <tr>
                                <th>User</th>
                                <th>Comments</th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="story-statistics">
                    <div class="statistics-container">
                        <h2>Top liked stories</h2>
                        <table class="top-liked">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Likes</th>
                            </tr>
                        </table>
                    </div>
                    <div class="statistics-container">
                        <h2>Top commented stories</h2>
                        <table class="top-commented">
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Comments</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
<script src="/js/statistics.js"></script>
{{> loginModal}}
{{> footer}}