{{> navigation}}
<main>
    <div class="container">
        <h1>Statistics</h1>
        <section class="main">
            <div class="statistics">
                <div class="user-statistics">
                    <div class="statistics-container">
                        <h2>Top likers</h2>
                        <table class="primary" >
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Likes</th>
                                </tr>
                            </thead>
                            <tbody id="top-likers">

                            </tbody>

                        </table>
                    </div>

                    <div class="statistics-container">
                        <h2>Top commenters</h2>
                        <table class="primary" >
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody id="top-commenters">

                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="story-statistics">
                    <div class="statistics-container">
                        <h2>Top liked stories</h2>
                        <table class="primary">
                            <thead>
                                <tr>
                                    <th>Story</th>
                                    <th>Likes</th>
                                </tr>
                            </thead>
                            <tbody id="top-liked">

                            </tbody>

                        </table>
                    </div>
                    <div class="statistics-container">
                        <h2>Top commented stories</h2>
                        <table class="primary">
                            <thead>
                                <tr>
                                    <th>Story</th>
                                    <th>Comments</th>
                                </tr>
                            </thead>
                            <tbody id="top-commented">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>
<script src="/js/statistics.js"></script>
{{> loginModal}}
{{> footer}}