{{> navigation}}
<main>
    <div class="container">
        <h1>Stories</h1>
        <section>
            {{#if loggedIn}}
                <div class="button-container">
                    <div class="dropdown-container">
                        <!-- Dynamic content -->
                    </div>
                    <button class="primary" id="create-story">Create story</button>
                </div>
            {{/if}}
        </section>
    </div>
</main>
<script src="/js/storyVisibility.js"></script>
<script src="/js/stories.js"></script>
{{> loginModal}}
{{> footer}}