{{> navigation}}
<main>
    <div class="container">
        <h1>Stories</h1>
        <section class="main">
            <div class="button-container">
                {{#if loggedIn}}
                    <div class="dropdown-container">
                        <!-- Dynamic content -->
                    </div>
                    <button class="primary" onclick="clickCreateStory()">Create story</button>
                {{/if}}
            </div>
            <div class="story-container">
                <!-- Dynamic content -->
            </div>
        </section>
    </div>
</main>
<script src="/js/stories.js"></script>
<script src="/js/storyVisibility.js"></script>
{{> loginModal}}
{{> footer}}