{{> navigation}}
<main>
    <div class="container">
        <h1>{{story.story_name}}</h1>
        <p>Created: {{story.creation_date}}</p>
        <section>
            <h2>Photos</h2>
            <section>
                <a href="https://placekitten.com/g/300/300" data-lightbox="kitten" data-title="My caption"><img src="https://placekitten.com/g/300/300"></a>
                <a href="https://placekitten.com/g/300/300" data-lightbox="kitten" data-title="My caption"><img src="https://placekitten.com/g/300/300"></a>
                <a href="https://placekitten.com/g/300/300" data-lightbox="kitten" data-title="My caption"><img src="https://placekitten.com/g/300/300"></a>
            </section>
        </section>
        <section>
            <p>{{story.story_description}}</p>
        </section>
    </div>
</main>
{{> loginModal}}
{{> footer}}