{{> navigation}}
<main>
    <div class="container">
        <h1>Stories</h1>
        <section>
            <div class="button-container">
                <div class="dropdown-container">
                    <button class="primary dropdown" id="visibility-button">Visibility</button>
                    <div class="dropdown-menu">
                        
                    </div>
                </div>
                <button class="primary" id="create-story">Create story</button>
            </div>
        </section>
    </div>
</main>
<script src="./js/stories.js"></script>
{{> loginModal}}
{{> footer}}