body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F7F5FB;
}

nav.top {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #084887;
}

nav.top > h1 {
    margin: 10px 15px;
    color: white;
}

nav.top > h1 a {
    color: inherit;
    text-decoration: inherit;
}

nav.top > .link-container {
    display: flex;
    align-items: flex-end;
    margin: 10px 15px;
}

nav.top.mobile {
    display: none;
}

nav > .nav-button-container {
    margin-right: 10px;
}

.link-container a {
    display: block;
    text-decoration: none;
    color: white;
}

.link-container a:hover {
    text-decoration: underline;
}

.material-icons.nav {
    margin-right: 5px;
    color: #F58A07;
}

.material-icons.mobile-menu {
    font-size: 2rem;
    color: white;
    cursor: pointer;
} 

.mobile-menu-container {
    display: none;
    border-bottom: 2px solid #084887;
    background-color: white;
}

.mobile-menu-container .material-icons {
    color: #F58A07;
}

.mobile-menu-container ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.mobile-menu-container li {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.mobile-menu-container a {
    margin-left: 4px;
    color: #084887;
    text-decoration: none;
}

.mobile-menu-container a:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.material-icons.search {
    position: absolute;
    right: 5px;
    top: 20%;
    color: #F58A07;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 200px;
    padding: 8px;
    border: 2px solid #F58A07;
    font-family: inherit;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px;
    min-width: 100px;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: #F58A07;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
}

input[type="file"] {
    display: none;
}

textarea {
    width: 200px;
    min-height: 100px;
    border: 2px solid #F58A07;
    font-family: inherit;
    resize: none;
    box-sizing: border-box;
}

button.primary {
    display: inline-block;
    margin: 15px 5px;
    padding: 10px;
    min-width: 100px;
    border-radius: 100px;
    color: white;
    background-color: #F58A07;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
}

button.dropdown::after {
    margin-left: 4px;
    font-family: 'Material Icons';
    content: 'expand_more';
}

footer {
    margin-top: auto;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #084887;
}

footer > p {
    flex-basis: 100%;
    color: white;
    text-align: center;
}

.modal-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    min-height: 25%;
    min-width: 30%;
    background-color: #F7F5FB;
    border-radius: 10px;
}

.modal-header {
    padding: 5px 15px;
    background-color: #084887;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-header > h2 {
    font-weight: 700;
    color: white;
}

.modal-content {
    padding: 15px 15px;
}

.modal-footer {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login-error {
    display: none;
    padding: 5px;
    color: #F9AB55;
    font-weight: 700;
    text-align: center;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: 20px 0px;
    flex-basis: 80%;
}

section {
    padding: 20px;
    background-color: white;
    min-height: 120px;
}

.input-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
}

.input-container > label {
    margin-right: 20px;
    flex-basis: 25%;
    align-self: center;
}

.input-container > .form-error {
    margin-left: 20px;
    color: #F9AB55;
    align-self: center;
}

.form-error::before {
    font-family: 'Material Icons';
    content: 'error';
    margin-right: 4px;
}

.info-container {
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px dashed #F58A07;
    background-color: transparent;
}

.info-container > .info-text {
    margin-left: 20px;
}

.info-container p {
    color: #F58A07;
    font-weight: 700;
}

span.material-icons.info {
    display: block;
    color: #F58A07;
}

.grecaptcha-badge { 
    visibility: hidden;
}

a.external-link {
    color: #909CC2;
    text-decoration: none;
}

a.external-link:after {
    margin-left: 4px;
    font-family: 'Material Icons';
    content: 'launch'
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.dropdown-container {
    display: block;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5);
}

.dropdown-menu > .dropdown-item {
    display: block;
    padding: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #909CC2;
}

.upload-section {
    min-height: 90px;
    min-width: 40%;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border: 2px dashed #F58A07;
    border-radius: 5px;
    cursor: pointer;
}

.upload-section > p {
    width: 100%;
    margin: 10px 0px;
}

@media only screen and (max-width: 1024px) {
    nav.top {
        display: none;
    }

    nav.top.mobile {
        display: flex;
    }

    .link-container {
        margin-left: auto;
        margin-right: 10px;
    }
}