body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F7F5FB;
}

nav.top {
    min-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #084887;
}

nav.top > h1 {
    margin: 10px 15px;
    color: white;
}

nav.top > h1 a {
    color: inherit;
    text-decoration: inherit;
}

nav.top > .link-container {
    display: flex;
    align-items: flex-end;
    margin: 10px 15px;
}

nav.top.mobile {
    display: none;
}

nav > .nav-button-container {
    margin-right: 10px;
}

.link-container a {
    display: block;
    text-decoration: none;
    color: white;
}

.link-container a:hover {
    text-decoration: underline;
}

.material-icons.nav {
    margin-right: 5px;
    color: #F58A07;
}

.material-icons.mobile-menu {
    font-size: 2rem;
    color: white;
    cursor: pointer;
} 

.mobile-menu-container {
    display: none;
    border-bottom: 2px solid #084887;
    background-color: white;
}

.mobile-menu-container .material-icons {
    color: #F58A07;
}

.mobile-menu-container ul {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}

.mobile-menu-container li {
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.mobile-menu-container a {
    margin-left: 4px;
    color: #084887;
    text-decoration: none;
}

.mobile-menu-container a:hover {
    text-decoration: underline;
}

.search-container {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}

.material-icons.search {
    position: absolute;
    right: 5px;
    top: 20%;
    color: #F58A07;
    cursor: pointer;
}

input[type="text"], input[type="password"] {
    width: 200px;
    padding: 8px;
    border: 2px solid #F58A07;
    font-family: inherit;
    box-sizing: border-box;
}

input[type="submit"] {
    min-width: 100px;
    margin: 15px 5px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    color: white;
    background-color: #F58A07;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
}

input[type="file"] {
    display: none;
}

textarea {
    width: 200px;
    min-height: 100px;
    border: 2px solid #F58A07;
    font-family: inherit;
    resize: none;
    box-sizing: border-box;
}

button.primary {
    display: inline-block;
    margin: 15px 5px;
    padding: 10px;
    min-width: 100px;
    border-radius: 100px;
    color: white;
    background-color: #F58A07;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
}

button.dropdown::after {
    margin-left: 4px;
    font-family: 'Material Icons';
    content: 'expand_more';
}

footer {
    margin-top: auto;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #084887;
}

footer > p {
    flex-basis: 100%;
    color: white;
    text-align: center;
}

.modal-container {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
    min-height: 25%;
    min-width: 30%;
    background-color: #F7F5FB;
    border-radius: 10px;
}

.modal-header {
    padding: 5px 15px;
    background-color: #084887;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-header > h2 {
    font-weight: 700;
    color: white;
}

.modal-content {
    padding: 15px 15px;
}

.modal-footer {
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#login-error {
    display: none;
    padding: 5px;
    color: #F9AB55;
    font-weight: 700;
    text-align: center;
}

main {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    margin: 20px 0px;
    flex-basis: 80%;
}

section.main {
    padding: 20px;
    background-color: white;
    min-height: 120px;
}

section.story-document {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 120px;
    padding: 10px;
    border-bottom: 1px solid #909CC2;
}

section.story-document > figure.story-image {
    flex-basis: calc(25% - 10px);
    margin: 5px;
}

figure.story-image img {
    width: 100%;
}

section.story-document > p {
    flex-basis: 100%;
    text-align: center;
}

section.story-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #909CC2;
}

.input-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
}

.input-container > label {
    margin-right: 20px;
    flex-basis: 25%;
    align-self: center;
}

.input-container > .form-error {
    margin-left: 20px;
    color: #F9AB55;
    align-self: center;
}

.form-error::before {
    font-family: 'Material Icons';
    content: 'error';
    margin-right: 4px;
}

.info-container {
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 3px dashed #F58A07;
    background-color: transparent;
}

.info-container > .info-text {
    margin-left: 20px;
}

.info-container p {
    color: #F58A07;
    font-weight: 700;
}

span.material-icons.info {
    display: block;
    color: #F58A07;
}

.grecaptcha-badge { 
    visibility: hidden;
}

a.external-link {
    color: #909CC2;
    text-decoration: none;
}

a.external-link:after {
    margin-left: 4px;
    font-family: 'Material Icons';
    content: 'launch'
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.dropdown-container {
    display: block;
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5);
}

.dropdown-menu > .dropdown-item {
    display: block;
    padding: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #909CC2;
}

.upload-section {
    min-height: 90px;
    min-width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #F58A07;
    border-radius: 5px;
    cursor: pointer;
}

.upload-section > p {
    width: 100%;
    margin: 10px 0px;
}

.upload-instructions {
    font-size: 1.5rem;
    color: #909CC2;
    font-weight: 700;
}

.story-container {
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.story-container > figure.story {
    flex-basis: calc(30% - 15px);
    flex-shrink: 1;
    margin: 10px 15px;
    -webkit-box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 5px rgba(0,0,0,0.5);
}

figure.story > figcaption {
    padding: 10px;
}

figure.story > img {
    min-width: 100%;
}

figure.story .story-header, figure.story .story-description {
    display: block;
    margin: 5px 0px;
    padding: 4px 0;
    border-bottom: 1px solid #909CC2;
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
}

.story-header > a {
    text-decoration: none;
    color: inherit;
}

.story-header > a:hover {
    text-decoration: underline;
}

figure.story .story-description {
    min-height: 100px;
    font-weight: normal;
    font-size: 1rem;
}

figure.story .story-social {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

.story-social > .story-likes {
    font-size: 1rem;
    color: #084887;
}

.story-likes::before {
    margin-right: 4px;
    font-family: 'Material Icons';
    content: 'thumb_up';
}

.story-social > .story-comments {
    margin-left: auto;
    color: #F58A07;
    font-size: 1rem;
}

.story-comments::before {
    margin-right: 4px;
    font-family: 'Material Icons';
    content: 'question_answer';
}

.search-results {
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.search-results > a {
    margin: 0;
    font-size: 1.5rem;
    color: #909CC2;
    text-decoration: none;
}

.search-results > a:hover {
    text-decoration: underline;
}

p.medium, p.small {
    margin: 5px 0px;
    line-height: 1.6;
    font-family: inherit;
    font-size: 1rem;
    color: black;
}

p.small {
    font-size: 0.6rem;
}

p.image-upload, p.document-upload {
    color: #084887;
}

p.image-upload::before {
    margin-right: 4px;
    font-family: 'Material Icons';
    content: 'image';
}

p.document-upload::before {
    margin-right: 4px;
    font-family: 'Material Icons';
    content: 'text_snippet';
}

section.comment-section > .comments {
    display: block;
    padding:0px 20px;
}

.comments > .comment {
    padding: 10px 0px;
    border-bottom: 1px solid #909CC2;
}

.comments > .comment-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-input > button {
    margin-left: auto;
}

.comment-input > input[type=text] {
    width: 100%;
    margin-right: 5px;
}

.comment > .comment-author {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 1rem;
    color: black;
}

.comment > .comment-time {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    color: black;
}

.comment > .comment-actions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.comment-actions > a {
    font-size: 0.7rem;
    color: #909CC2;
    text-decoration: none;
}

.comment-actions > a:hover {
    text-decoration: underline;
}

table.primary {
    width: 100%;
    margin: 10px;
    border-collapse: collapse;
    table-layout: fixed;
}

table.primary th, table.primary td {
    padding: 10px;
    text-align: center;
}

table.primary th {
    font-weight: 700;
    text-transform: uppercase;
}

table.primary tbody > tr:hover {
    background-color: #F9AB55;
    transition: 0.4s;
}

table a {
    font-family: inherit;
    color: #909CC2;
    text-decoration: none;
}

table a:hover {
    text-decoration: underline;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.user-statistics {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.story-statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    flex: 50%;
}

.statistics-container {
    flex-direction: row;
    text-align: center;
    width: 50%;
}

.statistics-container table {
    margin: auto;
}

@media only screen and (max-width: 1024px) {
    nav.top {
        display: none;
    }

    nav.top.mobile {
        display: flex;
    }

    .link-container {
        margin-left: auto;
        margin-right: 10px;
    }
}